
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="background-animation"></div>
<div class="register-container">
	<h3>Password Reset Link Has Been Sent To Your Mail, Please Check Your Inbox</h3>
		<a href="https://mail.google.com/mail/u/0/#inbox">Go To Your Inbox</a>
</div>


