@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="background-animation"></div>
<div class="register-container">
	<form asp-action="SendEmail">
		<div class="form-group">
			<label asp-for="EmailAddress">Email Address</label>
			<input asp-for="EmailAddress" required>
			<span asp-validation-for="EmailAddress" class="error-message"></span>
		</div>
		<br />
		<button type="submit" class="register-button">Send An Email</button>
	</form>
</div>

