@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="background-animation"></div>
<div class="register-container">
	<form asp-action="ResetPassword">
        <div>
            <div class="form-group">
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" required>
                <span asp-validation-for="NewPassword" class="error-message"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword">Confirm Password</label>
                <input asp-for="ConfirmNewPassword" required>
                <span asp-validation-for="ConfirmNewPassword" class="error-message"></span>
            </div>
        </div>
        <button type="submit" class="register-button">Update Password</button>
	</form>
</div>

